#playground {
  display: grid;
  position: relative;
  overflow: hidden;
  gap: 5px;
  height: 100%;
  background: #212638;
  border-radius: 4px;
}
._canvas-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
canvas {
  position: absolute;
}
canvas._shader {
  background: #ff08dd;
}
canvas._texture {
  background: pink;
  display: none;
}
body > ._toolbox {
  margin: auto;
  width: fit-content;
  height: 45px;
  z-index: 9;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
._toolbox button {
  height: 34px;
  cursor: pointer;
  min-width: 34px;
  border: none;
  background: #c0c6dc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._toolbox button:hover {
  background: #7d86a3;
}
._toolbox label {
  color: #333333;
  font-weight: bold;
  font-size: 14px;
  padding: 0 4px 0 7px;
  height: 34px;
  border-radius: 3px;
  background: #c0c6dc;
  display: flex;
  align-items: center;
}
select {
  height: 34px;
  background: #212638;
  color: #f3f3f3;
  font-weight: bold;
  border-radius: 3px;
}

._ui-layer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
._ui-layer ._toolbox {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  gap: 4px;
  flex-wrap: wrap;
}
._messages-area {
  height: 100%;
  width: 100%;
  /* margin: 4px 4px 42px 4px; */
  border: 1px solid red;
  background: red;
}
._error-popup {
  position: absolute;
  background: #ffc9c5;
  border: 1px solid #f44336;
  border-radius: 4px;
  padding: 4px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 4px 4px 42px 4px;
  width: fit-content;
  height: fit-content;
  color: #c00d00;
}
._error-popup ._title {
  font-weight: bold;
}
._error-popup ._codeBox {
  display: flex;
  flex-direction: column;
}
._error-popup pre {
  margin: 0;
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
._error-popup ._codeBox ._line {
  display: flex;
  border-bottom: 1px solid #fca9a5;
}
._error-popup ._codeBox ._number {
  width: 50px;
  flex-shrink: 0;
  border-right: 2px solid #fca9a5;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 0px 6px;
  min-height: 20px;
  margin-right: 6px;
}
._culprit {
  font-weight: bold;
}
/* GENERAL */
html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.bg-primary {
  background: #212638;
}

.gap-1 {
  gap: 0.25rem;
}
.p-1 {
  padding: 0.25rem;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* TOOLTIP */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  font-family: sans-serif;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -85px;
  padding: 7px;
  width: 150px;
  border-radius: 3px;
  background-color: #333;
  color: #f8f8f8;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}
