html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
#playground {
  padding: 5px;
  display: grid;
  position: relative;
  overflow: hidden;
  gap: 5px;
  height: 100%;
  background: #212638;
}
._canvas-wrapper {
  /* background: #0b0e14; */
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
}
canvas {
  height: 100%;
  width: 100%;
  display: block;
}
._toolbox {
  /* position: fixed; */
  padding: 0 0 5px 0;
  margin: auto;
  width: fit-content;
  height: 45px;
  z-index: 9;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
._button {
  height: 34px;
  cursor: pointer;
  min-width: 34px;
  border: none;
  background: #c0c6dc;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._button:hover {
  background: #7d86a3;
}
select {
  position: absolute;
  bottom: 4px;
  right: 4px;
  height: 24px;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.h-100 {
  height: 100%;
}

.bg-primary {
  background: #212638;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  font-family: sans-serif;
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -85px;
  padding: 7px;
  width: 150px;
  border-radius: 3px;
  background-color: #333;
  color: #f8f8f8;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:hover:before {
  visibility: visible;
  opacity: 1;
}
